@import "tailwindcss";

@theme {
   --color-primary: var(--c-primary);
   --color-background: var(--c-background);
   --color-foreground: var(--c-foreground);
   --color-background-dark: var(--c-background-dark);
   --color-text: var(--c-text);
   --color-border: var(--c-border);
   --font-nunito: var(--font-nunito-sans);
}

@media (prefers-color-scheme: dark) {
   :root {
      --background: #0a0a0a;
      --foreground: #ededed;
   }
}
.scrollbar-hide {
   -ms-overflow-style: none;
   scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
   display: none;
}
body {
   background: var(--background);
   color: var(--foreground);
}
