@import "tailwindcss";

@theme {
   --color-primary: var(--c-primary);
   --color-background: var(--c-background);
   --color-foreground: var(--c-foreground);
   --color-background-dark: var(--c-background-dark);
   --color-text: var(--c-text);
   --color-text-inverse: var(--c-text-inverse);
   --color-text-light: var(--c-text-light);
   --color-border: var(--c-border);
   --color-success: var(--c-success);
   --color-warning: var(--c-warning);
   --color-danger: var(--c-danger);
   --color-danger-light: var(--c-danger-light);
   --color-success-opacity: var(--c-success-opacity);
   --color-warning-opacity: var(--c-warning-opacity);
   --color-danger-opacity: var(--c-danger-opacity);
   --color-danger-light-opacity: var(--c-danger-light-opacity);
   --color-purple: var(--c-purple);
   --color-purple-opacity: var(--c-purple-opacity);
   --color-delivered: var(--c-delivered);
   --color-pending: var(--c-pending);
   --color-rejected: var(--c-rejected);
   --color-bg-table-header: var(--c-bg-table-header);
}

:focus-visible {
   outline: 2px solid var(--color-primary);
   border-radius: 16px;
}

.products {
   background-image: url("../../public/bgProducts.png");
   background-repeat: no-repeat;
   background-size: cover;
}

.tooltip-box::after {
   content: "";
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: -6px;
   width: 0;
   height: 0;
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   border-top: 6px solid #5e77ff;
}

.tags .ant-select-selection-item {
   background-color: var(--color-primary) !important;
   color: var(--color-text-light);

   .ant-select-selection-item-remove {
      color: var(--color-text-light);
   }
}

.bg-dots {
   background-color: #fafafa;
   background-image: radial-gradient(#ccc 0.5px, transparent 0.5px),
      radial-gradient(#ccc 0.5px, transparent 0.5px);
   background-size: 10px 10px;
   background-position: 0 0, 5px 5px;
}
